<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/profile.css" rel="stylesheet">

    <title>Profile</title>
</head>
<body>
<%= console.log("locals email "+locals.email) %>
    <%- include('partials/_nav', {Email:locals.email})%>
    <div class="profile m-4">
        <div class="profile-info width-50">
    <img src= "<%=User.userPhoto%>" class="profile-img rounded-circle">
            <p class="m-1 fs-1"> <%=User.userName%></p>
            <p class="location m-1 fs-2"><%=User.Location%></p>
        </div>
        <div class="activities d-block">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start fs-3" id="sells">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sells</div>
                        Active Sells
                    </div>
                    <span class="badge bg-primary rounded-pill"><%=User.Sells.length%></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start fs-3" id="orders">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Orders</div>
                        Previous Orders
                    </div>
                    <span class="badge bg-primary rounded-pill"><%=User.Orders.length%></span>
                </li>
            </ol>

        </div>

    </div>
    <div class="data"></div>
<script src="/scripts/profile.js"></script>
</body>
</html>
